version: "3.7"
services:
  php:
    container_name: ${APP_NAME}-php
    image: ${APP_NAME}-php:${PHP_VERSION}-fpm
    build:
      context: BuildFiles
      dockerfile: PHP
      args:
        VERSION: ${PHP_VERSION}
        ROOT_PATH: ${ROOT_PATH}
    #restart: always
    depends_on:
      - mysql
    ports:
      - "9000:9000"
    volumes:
      - ${ROOT_PATH}/Website:/var/www/html
  nginx:
    container_name: ${APP_NAME}-nginx
    image: ${APP_NAME}-nginx:${NGINX_VERSION}
    build:
      context: BuildFiles
      dockerfile: Nginx
      args:
        VERSION: ${NGINX_VERSION}
    #restart: always
    depends_on:
      - php
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ${ROOT_PATH}/Nginx/conf:/etc/nginx/conf.d
      - ${ROOT_PATH}/Nginx/logs:/var/log/nginx
      - ${ROOT_PATH}/Website:/var/www/html
  mysql:
    container_name: ${APP_NAME}-mysql
    image: ${APP_NAME}-mysql:${MYSQL_VERSION}
    build:
      context: BuildFiles
      dockerfile: MySQL
      args:
        VERSION: ${MYSQL_VERSION}
    #restart: always
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_PASSWORD}
    volumes:
      - ${ROOT_PATH}/MySQL/data:/var/lib/mysql
      - ${ROOT_PATH}/MySQL/my.cnf:/etc/mysql/conf.d/my.cnf
